#area-log {
    background: #c3c3c3 !important;
    height: 300px !important;
    overflow-y: auto;
    color: white;
    padding: 10px;
    border-radius: 5px;
    -moz-appearance: textfield-multiline;
    appearance: textarea;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 28px;
    resize: none;
    width: 100%;
}

#loader {
    width: 30px !important;
    height: 30px !important;
}

.area-domain-detail {
    list-style-type: circle !important;
}