.margin-top-1-7 {
    margin-top: 1.7rem !important;
}

#heatmap {
    position: absolute;
    width: 800px;
    pointer-events: none;
}

#heatmapiframe {
    position: absolute;
    width: 800px;
    height: 100%;
    border: none;
}

.area-heat-map {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 100vh;
    overflow: hidden;
}
